<h1>Button Chooser Demo</h1>
<form>
  <label>Würden Sie Angular weiterempfehlen?</label>
  <ch-button-chooser [choices]="choices" name="answer"[(ngModel)]="answer">
  </ch-button-chooser>
</form>
<div>Antwort: {{answer}}</div>

<h2>Styling über CSS-Variablen</h2>
<form novalidate #form="ngForm" class="purple-form">
  <label>Welchen Library-Ansatz bevorzugen Sie?</label>
  <ch-button-chooser [choices]="choices"
    name="answer"[(ngModel)]="answer">
  </ch-button-chooser>
</form>

<h2>Styling über BEM</h2>

<form novalidate (ngSubmit)="register(form.value)" #form="ngForm" class="blue-form">
  <label>Welchen Library-Ansatz bevorzugen Sie?</label>
  <ch-button-chooser-bem [choices]="choices"
    name="answer"[(ngModel)]="answer">
  </ch-button-chooser-bem>
</form>
